/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 20, 2024, 11:36:57 PM
    Author     : ASUS
*/

body {
    font-family: Arial, sans-serif;
    background-color: #f3e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.image{
    background: url('../photos/lib2.png');
    height: 450px;
    width: 700px;
    
}
   


.container {
    position: relative; 
    right: 0; 
    top: 5.5%; 
    left:50%;
    height: 100%;
     
}


.login-form {
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    width: 300px;
    height: 400px;
    text-align: left;

}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #030303;
    text-align: center;
   
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #030303;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    
}

input[type="email"], input[type="password"] {
    background-color: #fff;
    color: #80C4E9;
    border: 1px solid #050606;
}

.forget-password {
    text-align: right;
    margin-bottom: 20px;
}

.forget-password a {
    text-decoration: none;
    color: #6c63ff;
    
}

.forget-password a:hover {
    text-decoration: underline;
}

.forget-password{
   text-align: left;
}

button {
    background-color: #06D001;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

